@model MVC.Models.Imagen

@{
    Layout = "_Flechas";
}
<div class="container">

    <div class="form-control">
        @using (Html.BeginForm("EdImagen", "Home", FormMethod.Post, new { @class = "card-body cardbody-color p-lg-5" }))
        {
            <div class="form-group">
                <label>Id imagen</label>
            @Html.EditorFor(x=>x.id,new { htmlAttributes =new {@class = "form-control", @textindex = "1" }})
           <br>
                <label>Nombre</label>
            @Html.EditorFor(x=>x.nombre,new { htmlAttributes =new {@class = "form-control", @textindex = "2"}})
                <br>
            <label>Ruta</label>
            @Html.EditorFor(x=>x.ruta,new { htmlAttributes =new {@class = "form-control", @textindex = "3"}})
                <br>
                <label>X</label>
                @Html.EditorFor(x => x.x, new { htmlAttributes = new { @class = "form-control", @textindex = "3" } })
                <br>
                <label>Y</label>
                @Html.EditorFor(x => x.y, new { htmlAttributes = new { @class = "form-control", @textindex = "3" } })
                <br>
                <label>Piso</label>
                @Html.EditorFor(x => x.piso, new { htmlAttributes = new { @class = "form-control", @textindex = "3" } })
                <br>

        </div>

            <div class="text-center"> @Html.ActionLink("Volver","Imagenes",new{},new{@class="btn btn-success"})<button type="submit" class="btn btn-primary">Guardar</button></div>
        }

    </div>
</div>